
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    font-family: "Open Sans", sans-serif;
}
a{
    text-decoration: none;
}
/* Primary color */
.primary-color{
    color:#474747;
}
/* Nav bar style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 200px;
}
/* Primary Button */
.btn{
    background-color: #FD6E0A;
    border: none;
    color: #ffff;
    padding: 10px;
    height: 64px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}
.header{
    background: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right ;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}
.nav-title span{
    color: #FD6E0A;
}
.menuarea ul  li{
    list-style: none;
    display: inline;
    padding:20px;
}
.menuarea ul li a{
    text-decoration: none;
    font-size: 20px;

}

.btn-container{
    display: flex;
    gap: 20px;
}
.btn-container a{
    color: #fff;
}
.hero-area{
    display: flex;
    justify-content: space-between;
    margin:0 35px 0 200px;
}

.greatings-container{
    max-width: 385px;
}
.greatings-container h3{
    font-size: 45px;
    font-weight: 600;

}
.greatings-container h1{
    font-size: 60px;
    font-weight: 700;

}
.greatings-container p{
    font-size: 18px;
    font-weight: 400;

}
