
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    font-family: "Open Sans", sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
/* Primary color */
.primary-color{
    color:#474747;
}
/* Main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* Nav bar style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 200px;
}
/* Shared CSS */

.primary-bg{
    background-color: #FFF8F3;
}
.primary-box{
    max-width: 1140px;

}
.head-text{
    font-size: 2em;
    font-weight: 600;
    color: #181818;
}
/* Share CSS Finished */

/* Primary Button */
.btn{
    background-color: #FD6E0A;
    border: none;
    color: #ffff;
    padding: 10px;
    /* height: 64px;
    width: 150px; */
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
}
.header{
    background: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right ;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}
.nav-title span{
    color: #FD6E0A;
}
.menuarea ul  li{
    list-style: none;
    display: inline;
    padding:20px;
}
.menuarea ul li a{
    text-decoration: none;
    font-size: 20px;

}

.btn-container{
    display: flex;
    gap: 20px;
}
.btn-container a{
    color: #fff;
}
.hero-area{
    display: flex;
    justify-content: space-between;
    margin:0 35px 0 200px;
}

.greatings-container{
    max-width: 385px;
    margin:0;
    padding:0;

}
.greatings-container h3{
    font-size: 45px;
    font-weight: 600;

}
.greatings-container h1{
    font-size: 60px;
    font-weight: 700;

}
.greatings-container p{
    font-size: 18px;
    font-weight: 400;

}
.about-container{
    max-width:1140px;
    height: auto;
    border-radius: 10px;
    background-color: #FFF8F3;
    text-align: center;
    margin-top: 50px;
    display: flex;
    
}
.about-inner{
    /* padding: 130px 150px; */
    /* background-color: white; */
    /* border: 1px solid black; */
    height: auto;
    width: 827px;
    margin: 0 auto;
    padding: 20px 0;
    vertical-align: middle;

}
.about-des p{
    color: #757575;
    font-size: 18px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.ab-item-des{
    font-size:20px;
    font-weight: 600;
}
.w-i-d-des p{
    color: #757575;
    font-size: 18px;
    text-align: center;
}
.w-i-d-head{
    text-align: center;
}
.skills-list{
    display: flex;
    justify-content: space-around;
    gap: 20px;


}
.skills-list{
margin-top: 50px;

}
.skills{

    -webkit-box-shadow: 0px 7px 29px -3px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 7px 29px -3px rgba(0,0,0,0.45);
    box-shadow: 0px 7px 29px -3px rgba(0,0,0,0.45);
    padding: 20px 40px;
    transition: 0.3s;
}
.skills:hover{
    background-color:#FFF8F3;
}
.resume-container{
    display: flex;
    margin: 0 auto;
    /* height: 1000px; */
}
.resume-child{
    width:100%;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    gap: 20px;
}   
.resume-child1{
    width: 50%;
    /* border: 1px solid blue; */

}
.resume-child2{
    width: 50%;
    /* border: 1px solid blue; */
}
.resume-header{
    text-align: center;
    margin: 50px 0px;
    font-size: 35px;
    font-weight: bold;
}
.resume-child1 h3{
    font-size: 28px;
    font-weight: 700;
    color:#474747;
}
.list1 h4{
    font-size: 20px;
    font: 500;
    color:#474747;
    margin: 0 ;
}
.list1 hr{
    margin: 30px 0;
}
.edu-des{
    font-size: 16px;
    font-weight: 500;
    color:#757575;
}
.list1 p{
    font-size: 14px;
    font-weight: normal;
    color:#757575;

}
.resume-child2 h3{
    font-size: 28px;
    font-weight: 700;
    color:#474747;
}
.download-resume{
    text-align: center;
}
#dresume  a{
    text-align: center;
    color: white;
    text-decoration: none;
}
footer{
    margin-top: 50px;
}
.footer-container{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;

}
.left-footer-content p {
    color:#474747;
    font-size: 16px;
    width: 70%; 
}
.left-footer-content{
    width: 50%;
}
.footer-form input,textarea{
    display: block;
    margin: 20px 0;
    height: 30px;
    font-size: 16px;
    background: white;
    border:none;
    width: 90%;
    color: #757575;
}
.f-btn-container{
}
textarea{
    height: 120px;
}

.hide{
    display: none;
}


/* Responsive for mobile Device */
@media screen and (max-width:576px){
    .footer-container{
        flex-direction: column;
        padding: 10px;
    }
    .left-footer-content, .left-footer-content p, .resume-child1, .resume-child2{
        width: 100%;
    }
    .resume-child{
        flex-direction: column;
    }

    .resume-header{
        font-size: 28px;
        margin-top: 40px;
    }
    .skills-list{
        flex-direction: column;
    }
    .skills{
        box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.45);
    }
    .about-items, .about-container, .hero-area{
        flex-direction: column;
    }
    .header{
        background-image: none;
    }
    .hero-area{
        margin: 20px;
    }
    .picture-container, .about-inner{
        width: 100%;
    }
    .picture-container img{
        width: 100%;
    }
    nav{
        width: 100%;
        margin: 0;
    }
    .logoarea{
        width: 20%;
    }
    .menuarea{
        width: 80%;
    }
    .nav-title{
        font-size: 20px;
    }
    .menuarea ul  li{
        padding: 5px;
    }
    .greatings-container h1, .greatings-container h3{
        font-size: 30px;
        margin: 0;
        padding: 0;
    }
    .picture-container{
        width: 100%;
        background-image: url('/images/header_bg.png');
        background-position: right bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
